body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.imagen {
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.imagen img {
    align-items: center;
    justify-content: center;
    object-fit: cover;
    align-content: center;
}

.formulario {
    padding: 1em;
    background-color: rgba(25, 75, 61, 0.25);
}

.form-box {
    margin: 1em;
    padding: 2px;
}

.form-bottom {
    margin: 0;
    width: 100%;
    height: 6vh;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    color: azure;
}

.text-input {
    margin: 0;
    width: 100%;
    height: 5vh;
}

.label-error {
    color: red;
    background-color: rgba(165, 42, 42, 0.20);
    padding: 2px;
    width: 100%;
}

.label-error p {
    padding: 1px;
    margin: 2px;
    text-align: justify;
}

.leyenda {
    font-size: small;
}

.links-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left {
    text-align: left;
    align-items: start;
}

.right {
    align-items: end;
    text-align: right;
}

.form-set-1 {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    margin: 5px;
    padding: 5px;
}

.desplegable {
    display: block;
    width: 100%;
    height: 5vh;
}

.catalogo {
    width: 30vw;
    height: 40vh;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
    margin: auto;

}

.planta {
    text-decoration: none;
    color: black;
}

.planta p {
    margin: 1px;
    padding: 2px;
}

.planta:hover p {
    text-decoration: underline;
    color: green;
}

.catalogo:hover {
    height: 35vh;
    padding: 10px 5px;
    margin: auto;
    border-radius: 20px;
}


.cabecera {
    display: grid;
    grid-template-columns: 60% 40%;
}

.menu-options {
    align-items: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.menu-options li {
    float: left;
}

.menu-options li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333333;
    color: azure;
}

.menu-options li a:hover {
    background-color: #111111;
}